<p class="mobile-videos-text">Videos created with Melt</p>

<div class="mobile-video-player-row">
	<div>
		<%= video_tag(["https://igcdn-videos-d-10-a.akamaihd.net/hphotos-ak-xaf1/t50.2886-16/11019604_941691085843750_205891334_n.mp4"], :size => "400x400", :controls => true, :poster => 'video_too_delicious.jpg') %>
	</div>
	<div>
		<%= video_tag(["https://igcdn-videos-f-8-a.akamaihd.net/hphotos-ak-xaf1/t50.2886-16/10814845_1579793458935308_557263697_n.mp4"], :size => "400x400", :controls => true, :poster => 'video_look_up.jpg') %>
	</div>
	<div class="clear"></div>
</div>

<div class="mobile-video-player-row">
	<div>
		<%= video_tag(["https://igcdn-videos-b-1-a.akamaihd.net/hphotos-ak-xfa1/t50.2886-16/11020967_945598028791221_948759170_n.mp4"], :size => "400x400", :controls => true, :poster => 'video_some_color.jpg') %>
	</div>
	<div>
		<%= video_tag(["https://igcdn-videos-b-1-a.akamaihd.net/hphotos-ak-xfa1/t50.2886-16/11020967_945598028791221_948759170_n.mp4"], :size => "400x400", :controls => true, :poster => 'video_some_color.jpg') %>
	</div>
	<div class="clear"></div>
</div>