<p class="mobile-videos-text">Videos created with Melt</p>

<div class="mobile-video-player-row">
	<div>
		<%= image_tag('melt_video_placeholder.jpg', class: 'mobile-video-player') %>
	</div>
	<div>
		<%= image_tag('melt_video_placeholder.jpg', class: 'mobile-video-player') %>
	</div>
	<div class="clear"></div>
</div>

<div class="mobile-video-player-row">
	<div>
		<%= image_tag('melt_video_placeholder.jpg', class: 'mobile-video-player') %>
	</div>
	<div>
		<%= image_tag('melt_video_placeholder.jpg', class: 'mobile-video-player') %>
	</div>
	<div class="clear"></div>
</div>